{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class="container p-3">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center">
                <h1>Movie Picker</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <h5>For when you can't decide on a film for Movie night</h5>
        </div>
    </div>
    </div>
    <div class="container p-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-title">IMDB Rank: {{ rank }}</div>
                <div class="card-body">
                    <img src=" {{ poster }}" /img>
                    <h5>{{ film }}</h5>
                    <h5>{{ year }}</h5>
                    <a href="/moviepicker" class="btn btn-primary">Repick!</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Movie</th>
                <th scope="col">Date</th>
                <th scope="col">Picked by</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>American Wrestler</td>
                <td>Unknown</td>
                <td>Sha</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Momento</td>
                <td>Unknown</td>
                <td>Sherv</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Party</td>
                <td>Unknown</td>
                <td>Bob</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>The Place Beyond The Pines</td>
                <td>Unknown</td>
                <td>Sherv</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>The Prestige</td>
                <td>Unknown</td>
                <td>CV</td>
            </tr>
        </tbody>
    </table>

</main><!-- /.container -->
{% endblock %}