{% extends "base.html" %}
{% block content %}

<div class="container p-3">
    <h3>The Social Movie Night</h3>
    <p>During lockdown, every Thursday at 8.30pm, watch a film picked by someone in the group. List of past films below
    </p>
</div>

<div class="container p-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Movie</th>
                <th scope="col">Date</th>
                <th scope="col">Picked by</th>
            </tr>
        </thead>
        <tbody>
            {% for film in film_lists %}
            <tr>
                <td>{{ film.movie }}</td>
                <td>{{ film.watched_date.date() }}</td>
                <td>{{ film.picked_by }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}