{% extends "base.html" %}
{% block content %}

<div class="container p-3">
    <h3>Films watched by the gang</h3>
</div>

<div class="container p-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Movie</th>
                <th scope="col">Date</th>
                <th scope="col">Picked by</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for film in film_lists %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{ film.movie }}</td>
                <td>{{ film.watched_date }}</td>
                <td>{{ film.picked_by }}</td>
                <td>
                    <a href="/delete/{{ film.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <form action="/watchlist" method="post">
        <input type="text" name="movie" id="movie">
        <input type="date" name="watched_date" id="watched_date">
        <input type="text" name="picked_by" id="picked_by">
        <input type="submit" value="add me">
    </form>
</div>

{% endblock %}