{% extends "base.html" %}
{% block content %}

<div class="container p-3">
    <h3>The Social Movie Night</h3>
    <p>During lockdown, every Thursday at 8.30pm, watch a film picked by someone in the group. List of past films below
    </p>
</div>

{% for film in film_lists %}

<div class="card mb-3 mx-auto shadow" style="max-width: 600px;">
    <div class="card-header text-start bg-white">
        {{ film.watched_date.date().strftime('%d %b %Y') }}
    </div>

    <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center">
            <div class="container">
                <img src="{{ film.poster }}" style="max-height: 265px;" ; class="img-fluid" alt="film poster">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ film.title }} ({{ film.year }})</h5>
                <p class="card-text">Director: {{ film.director }}</p>
                <p class="card-text">{{ film.plot }}</p>
                <p class="card-text"><small class="text-muted">Picked by: {{ film.picked_by }}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}



{% endblock %}